.rb {
  &_form {
    height: 100%;
  }
  &_flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    gap: 0.5rem;
  }
  &_image {
    height: 15%;
  }
  &_header {
    font-size: 1.2rem;
    max-width: 20rem;
    font-weight: 700;
  }
  &_subheader {
    font-size: 0.8rem;
    max-width: 20rem;
    font-style: italic;
  }
}
.show-button {
  height: 1.75rem;
}

.bottom-button {
  height: 2.5rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
