.projectCard {
  &__wrapper {
    border: 1px solid black;
    border-radius: 1rem;
    cursor: pointer;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  &__content {
    padding: 1rem;
  }
  &__title {
    font-size: 1.8rem;
    font-weight: 500;
  }
  &__description {
    font-size: 1.4rem;
  }
}
